# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/BitcoinDBCodeFirst/v15/.suo
*.lock
*.txt
*.cache
*.pdb
BitcoinDBCodeFirst/bin/Debug/EntityFramework.SqlServer.xml
*.ide
*.ide-shm
BitcoinDBCodeFirst/bin/Debug/BitcoinDBCodeFirst.exe.config
BitcoinDBCodeFirst/bin/Debug/EntityFramework.xml
BitcoinDBCodeFirst/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BitcoinDBCodeFirst/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BitcoinDBCodeFirst/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BitcoinDBCodeFirst/bin/Debug/Newtonsoft.Json.xml
.vs/BitcoinDBCodeFirst/v15/Server/sqlite3/storage.ide-wal
BitcoinDBCodeFirst/obj/Debug/BitcoinDBCodeFirst.csproj.CopyComplete
